/*======== Common CSS =========*/
body{
    position: relative;
}

textarea {
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix~.container-fluid {
    position: relative;
    top: 5 0px;
}
.navbar-inverse {
    background-color: #072642;
    border-radius: 0;
    border: none;
    max-height: calc(100%);
    overflow-y: auto;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 34px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li:hover a {
    background: #212121;
}

.navbar-brand {
    margin-top: 5px;
}
.navbar-toggle{
    margin-top: 15px;
    margin-bottom: 15px;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
    border-radius: 0;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}
.usense-logo button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}
.usense-logo a{
    color: white;
}
.usense-logo .glyphicon{
    color:white;
}
.navbar-inverse .navbar-nav > li > a.usense-green{
    color: #69ed44;
}
.navbar-inverse .navbar-nav > li > a.usense-orange{
    color: orange;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {
        display: block!important; 
    }
    .navigation-menu{
        margin-left: -15px;
        margin-right: -15px;
    }
}

.heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;            
}
.subheading{
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;            
}
.details{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-top: 20px;   
}
.details p{
    margin: 0;
    margin-bottom: 5px;
}
.heading-before{
      position: relative;
}
.heading-before::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100px;
    height: 4px;
    background: orange;      
}
.main-container{
    margin-top: 64px;
}
.common-section{
    color: #fff;
    padding: 50px 0;
}
#loading .fa-spin{
    font-size: 80px; 
    color: red
}
.mt{
    margin-top: 64px;
}
.section-padding .heading{
    margin-bottom: 50px;
}
.section-padding {
    padding-bottom: 40px;
}
.usense-height{
    min-height: calc(100vh - 64px);
}
@media only screen and (max-width: 600px){
    .heading{
        font-size: 28px;
    }
}

/*======== 

    COMMON CSS
    MOTIVATION PAGE
    INFORMATION PAGE
    DIGITALIZATION PAGE

=========*/

input[type=text].input-search{
    border-radius: 0;
    height: 40px;
    font-size: 17px;
    border: 0;
    box-shadow: none;
    margin-bottom: 10px;
}

.chip {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 20px;
    background-color: #337ab7;
    margin: 2px;
    text-transform: capitalize;
}
.chip-tags{
    margin-bottom: 30px;
}
.heading-panel {
    padding: 15px;
    cursor: pointer;
    text-transform: capitalize;
    padding-right: 35px;
}
.heading-panel .glyphicon{
    position: absolute;
    top: 15px;
    right: 15px;
}
.heading-panel[aria-expanded="true"]{
    background-color: #31708f;
    color: #fff;
}
.heading-panel[aria-expanded="true"] .glyphicon-plus:before{
    content: "\2212";
}
.body-panel{padding: 15px;}

.list-group {
    color: black;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item{
    padding: 0;
    border: 0
} 

@media only screen and (max-width: 600px) {
    .chip-tags > span{
        display: block;
        margin-bottom: 10px;
    }
    .section-padding{
        padding-left: 0;
        padding-right: 0;
    }
  }

/*======== ABOUT US PAGE CSS=========*/

.about-us .container-fluid{
    background:#212121e0;
    display: flex;
    min-height: calc(100vh - 64px);    
}

.about-us .container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;    
}

.about-us .common-section{
    padding-top: 0;
}

.about-us .heading{
    font-size: 80px;
}

.about-us .subheading{
    color: #fdb831;
    font-size: 30px;
}

.about-us .details{
    font-size: 22px;
}
@media only screen and (max-width: 767px){
    .about-us .heading{
        font-size: 45px;
    }
}
@media only screen and (max-width: 400px){
    .about-us .heading{
        font-size: 36px;
    }
    .about-us .subheading{
        font-size: 24px;
    }    
    .about-us .details{
        font-size: 20px;
    }
}

/*======== INFORMATION PAGE CSS=========*/

#section2 {
    padding-top: 25px;
    color: #fff;
    background-color: #3817a5;
}

/*======== MOTIVATION PAGE CSS=========*/

#section3 {
    padding-top: 25px;
    color: #fff;
    background-color: #106499;
}


/*======== REPORT 1 CSS =========*/

#report1 {
    padding-top: 25px;
    color: #fff;
    background-color: #072642e6;
}
.reports .heading{
    text-transform:capitalize;
}

/*======== REPORT 2 CSS =========*/

#report2 {
    padding-top: 25px;
    color: #fff;
    background-color: #072642e6;
}
#pie_chart{
    width: 100%;
    height: 500px;
}

/*======== PROFILE PAGE CSS=========*/
#section1 {
    padding-top: 25px;
    color: #fff;
    background-color: #072642e6;
}
.mk-form .heading{
    font-size: 24px;
}
.form-control[type=text], select.form-control{
    border-radius: 0;
    height: 40px;
    font-size: 15px;
    border: 0;
    box-shadow: none;    
}
.form-control[type=text] + label,
textarea.form-control + label,
select.form-control + label{
    color: red;
    margin-top: 5px;
}
textarea.form-control{
    border-radius: 0;
    height: 250px;
    font-size: 15px;
    border: 0;
    box-shadow: none;
}
input[type=submit]{
    background-color: #fba52f;
    color: #000;
    border-radius: 0;
    height: 40px;
    font-size: 15px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;     
}
input[type=submit]:hover{
    background-color: #ffa529;
}
.form-group label{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;  
    text-transform: capitalize;  
}
.form-group{
    margin-bottom: 20px;
}
.usense-profile .errors{
    background: red;
    padding:10px 20px;
}
#demo{
    color:blue;
}
#error{
    color:red;
}
#success-msg {
    color: #69ed44
}
@media only screen and (max-width: 600px){
    .usense-profile .heading-before::before{
        height: 0;
    }
}

/*======== Loader CSS =========*/
div#load_screen {
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 1600px;
}

div#load_screen > div#loading {
    color: #FFF;
    width: 120px;
    height: 24px;
    margin: 300px auto;
}