@import url("config.css");

/*======== Common CSS =========*/
body{
    position: relative;
}

textarea {
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix~.container-fluid {
    position: relative;
    top: 5 0px;
}
.navbar-inverse {
    border-radius: 0;
    border: none;
    max-height: calc(100%);
    overflow-y: auto;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 34px;
    text-transform: uppercase;
}
.navbar-brand {
    margin-top: 5px;
}
.navbar-toggle{
    margin-top: 15px;
    margin-bottom: 15px;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
    border-radius: 0;
}
.usense-logo button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}
.usense-logo a{
    color: white;
}
.usense-logo .glyphicon{
    color:white;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {
        display: block!important; 
    }
    .navigation-menu{
        margin-left: -15px;
        margin-right: -15px;
    }
}

.heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;            
}
.subheading{
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;            
}
.details{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-top: 20px;   
}
.details p{
    margin: 0;
    margin-bottom: 5px;
}
.heading-before{
      position: relative;
}
.heading-before::before{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100px;
    height: 4px;   
}
.main-container{
    margin-top: 64px;
}
.common-section{
    color: #fff;
    padding: 50px 0;
}
#loading .fa-spin{
    font-size: 80px; 
}
.mt{
    margin-top: 64px;
}
.section-padding .heading{
    margin-bottom: 50px;
}
.section-padding {
    padding-bottom: 40px;
}
.usense-height{
    min-height: calc(100vh - 64px);
}
@media only screen and (max-width: 600px){
    .heading{
        font-size: 28px;
    }
}

/*======== 

    COMMON CSS
    MOTIVATION PAGE
    INFORMATION PAGE
    DIGITALIZATION PAGE

=========*/

input[type=text].input-search{
    border-radius: 0;
    height: 40px;
    font-size: 17px;
    border: 0;
    box-shadow: none;
    margin-bottom: 10px;
}

.chip {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 20px;
    margin: 2px;
    text-transform: capitalize;
}
.chip-tags{
    margin-bottom: 30px;
}
.heading-panel {
    padding: 15px;
    cursor: pointer;
    text-transform: capitalize;
    padding-right: 35px;
}
.heading-panel .glyphicon{
    position: absolute;
    top: 15px;
    right: 15px;
}
.heading-panel[aria-expanded="true"]{
    color: #fff;
}
.heading-panel[aria-expanded="true"] .glyphicon-plus:before{
    content: "\2212";
}
.body-panel{padding: 15px;}

.list-group {
    color: black;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item{
    padding: 0;
    border: 0
} 

@media only screen and (max-width: 600px) {
    .chip-tags > span{
        display: block;
        margin-bottom: 10px;
    }
    .section-padding{
        padding-left: 0;
        padding-right: 0;
    }
  }

/*======== ABOUT US PAGE CSS=========*/

.about-us .container-fluid{
    display: flex;
    min-height: calc(100vh - 64px);    
}

.about-us .container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;    
}

.about-us .common-section{
    padding-top: 0;
}

.about-us .heading{
    font-size: 80px;
}

.about-us .subheading{
    font-size: 30px;
}

.about-us .details{
    font-size: 22px;
}
@media only screen and (max-width: 767px){
    .about-us .heading{
        font-size: 45px;
    }
}
@media only screen and (max-width: 400px){
    .about-us .heading{
        font-size: 36px;
    }
    .about-us .subheading{
        font-size: 24px;
    }    
    .about-us .details{
        font-size: 20px;
    }
}

/*======== INFORMATION PAGE CSS=========*/

#section2 {
    padding-top: 25px;
    color: #fff;
}

/*======== MOTIVATION PAGE CSS=========*/

#section3 {
    padding-top: 25px;
    color: #fff;
}


/*======== REPORT 1 CSS =========*/

#report1 {
    padding-top: 25px;
    color: #fff;
}
.reports .heading{
    text-transform:capitalize;
}

/*======== REPORT 2 CSS =========*/

#report2 {
    padding-top: 25px;
    color: #fff;
}
#pie_chart{
    width: 100%;
    height: 500px;
}

/*======== PROFILE PAGE CSS=========*/
#section1 {
    padding-top: 25px;
    color: #fff;
}
.mk-form .heading{
    font-size: 24px;
}
.form-control[type=text], select.form-control{
    border-radius: 0;
    height: 40px;
    font-size: 15px;
    border: 0;
    box-shadow: none;    
}
.form-control[type=text] + label,
textarea.form-control + label,
select.form-control + label{
    color: red;
    margin-top: 5px;
}
textarea.form-control{
    border-radius: 0;
    height: 250px;
    font-size: 15px;
    border: 0;
    box-shadow: none;
}
input[type=submit]{
    color: #000;
    border-radius: 0;
    height: 40px;
    font-size: 15px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;     
}
.form-group label{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;  
    text-transform: capitalize;  
}
.form-group{
    margin-bottom: 20px;
}
.usense-profile .errors{
    padding:10px 20px;
}
@media only screen and (max-width: 600px){
    .usense-profile .heading-before::before{
        height: 0;
    }
}

/*======== Loader CSS =========*/
div#load_screen {
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 1600px;
}

div#load_screen > div#loading {
    color: #FFF;
    width: 120px;
    height: 24px;
    margin: 300px auto;
}

/*======== Social sharing buttons CSS =========*/

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}
