{% extends 'base.html' %}
{% block detail %}
<div class="main-container">
    <div class="container-fluid" style="background:#212121e0">
        <div class="container">
            <section class="common-section">
                <hgroup>
                    <h1 class="heading">Mobile workforce management</h1>
                    <h3 class="subheading" style="color: #fdb831;">Be smarter and more efficient</h3>
                </hgroup>
                <div class="details">
                    <p>The service supports business decision makers in solving employee
                        mobility opportunities and problems.</p>
                    <p>For a quick understanding of the opportunities we give you ideas,
                        we always look for new and better answers to your management issues.</p>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}