{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
<div class="main-container about-us">
    <div class="container-fluid">
        <div class="container">
            <section class="common-section">
                <hgroup>
                    <h1 class="heading">Mobile Workforce Management</h1>
                    <h3 class="subheading">Be smarter and more efficient!</h3>
                </hgroup>
                <div class="details">
                    <p>The service supports decision makers in understanding employee mobility opportunities and solving related problems.</p>
                    <p>For sake of a quick resolution we give you ideas,
                        always look for new and better answers to your everyday management issues.</p>
                </div>
            </section>
        </div>
    </div>
</div>

{% include 'socialbuttons.html' %}

{% endblock %}

