<!DOCTYPE html>
<html>

<head>
<title>uSense homepage</title>

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#000000">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#000000">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#000000">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="./js/main.css">
<script type="text/javascript" src="./js/ajax_script.js"></script>
<script type="text/javascript" src="./js/validate.js"></script>

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-inverse" data-spy="affix" navbar-fixed-top>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="/">
                    <button
                        style="background-color: transparent;border-radius: 5px;border: 1px solid white;color: white">
                        uSense
                    </button>
                </a>
                {% if is_user_login %}
                <a href="/"><span style="color:white" class="glyphicon glyphicon-lock"></span></a>
                {% else %}
                <a href="/" style="color:white"><span style="color:white"
                        class="glyphicon glyphicon-user"></span>?</a>

                {% endif %}
            </div>
        </div>
        <div class="navigation-menu">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">degitalization</a></li>
                    <li><a href="/information">information</a></li>
                    <li><a href="/motivation">motivation</a></li>
                    <li><a href="about">About</a></li>
                    {% if is_user_login %}
                    <li><a href="/report1">Report 1</a></li>
                    <li><a href="/report2">Report 2</a></li>
                    <li><a href="/MyProfile">My profile</a></li>
                    {% endif %}
                    <li><a href="{{ login_button_url|safe }}" style="color:orange">{{ login_button_text }}</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<div style="margin-top: 64px;">
{% block detail %}

{% endblock %}

{% block content %}

{% endblock %}
</div>
</body>
</html>