{% extends 'base.html' %}
{% block detail %}

{% endblock %}
{% block content %}

{% if is_user_login %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="report1" class="container-fluid">
    <div class="container section-padding">
        <h1 class="heading" style="text-transform:capitalize"><span class="heading-before">Toplist of words</span></h1>
        <div id="chart_div1"></div>
        <br>
        <p>A területek nagysága a gyakoriságra utal.</p>
        <p>A területek színe a növekvő / csökkenő trendet jelenti.</p>            
    </div>        
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['treemap'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Location', 'Parent', 'Market trade volume (size)', 'Market increase/decrease (color)'],
            ['munkaerő mobilitás', null, 0, 0],
            ['Digitalizáció', 'munkaerő mobilitás', 0, 0],
            ['Információ', 'munkaerő mobilitás', 0, 0],
            ['Motiváció', 'munkaerő mobilitás', 0, 0],
            ['digitális', 'Digitalizáció', 31, 20],
            ['lehetőség', 'Digitalizáció', 52, 10],
            ['szakmaiság', 'Digitalizáció', 34, 15],
            ['tanácsadásnak', 'Információ', 22, 20],
            ['befektetés', 'Információ', 31, 14],
            ['információ', 'Információ', 22, 31],
            ['képességek', 'Motiváció', 36, 20],
            ['kreativitás', 'Motiváció', 20, 21],
            ['növekedés', 'Motiváció', 40, 10],
        ]);
        tree = new google.visualization.TreeMap(document.getElementById('chart_div1'));
        tree.draw(data, {
            minColor: '#f00',
            midColor: '#ddd',
            maxColor: '#0d0',
            headerHeight: 40,
            fontColor: 'black',
            showScale: true,
            fontSize: 16,
            textTransform: 'capitalize'
        });
    }
</script>
</div>
{% endif %}
<script>
$(window).on('resizeEnd', function () {
        if ($('#chart_div1').length || $('#pie_chart').length) {
            legend: { position: 'none' }
            drawChart();
        }

    });
</script>
<script>

    //create trigger to resizeEnd event     
    $(window).resize(function () {
        if (this.resizeTO) clearTimeout(this.resizeTO);
        this.resizeTO = setTimeout(function () {
            $(this).trigger('resizeEnd');
        }, 500);
    });
</script>
{% endblock %}